In [357]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [358]:
df = pd.read_csv("/Users/sibirajans/Documents/Large scale analytics/Project/Indi project/Customer_Data.csv", encoding='unicode_escape',low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 13 columns):
Timestamp                                                                          76 non-null object
Food is life ! (".... Did you just say French fries ...? ")                        76 non-null int64
Introvert Kinda (".... ehh but I would rather be at home..")                       76 non-null int64
Enjoy watching sports (".... 9.58 sec !!? I bet you can't ..")                     76 non-null int64
Music (" ... Zayn's high note are higher than my school grades ..")                76 non-null int64
Road trips (" ... Damnn ...  Roads are pathways to heaven ...")                    76 non-null int64
Caffeine addict (" ... <Opens Maps > Star with the bucks near me  <search> ..")    76 non-null int64
Bookworm (" ... 1500 pages, one day ?? Consider it done ..")                       76 non-null int64
Nature lover (" ... Tress, breeze and the smell of rain in air.. mmm ..")          76 non-null int64
Tech geek (" ... Hexacore i50 processor 150th gen. Exactly what I'm talking..")    76 non-null int64
Night sky admirer (" ... Stars are our ancestors..")                               76 non-null int64
Name ( need not be your real name !)                                               76 non-null object
Email (If you wish to make an impact :) )                                          33 non-null object
dtypes: int64(10), object(3)
memory usage: 7.8+ KB

In [359]:
df.head()

,Timestamp,"Food is life ! ("".... Did you just say French fries ...? "")","Introvert Kinda ("".... ehh but I would rather be at home.."")","Enjoy watching sports ("".... 9.58 sec !!? I bet you can't .."")","Music ("" ... Zayn's high note are higher than my school grades .."")","Road trips ("" ... Damnn ... Roads are pathways to heaven ..."")","Caffeine addict ("" ... <Opens Maps > Star with the bucks near me <search> .."")","Bookworm ("" ... 1500 pages, one day ?? Consider it done .."")","Nature lover ("" ... Tress, breeze and the smell of rain in air.. mmm .."")","Tech geek ("" ... Hexacore i50 processor 150th gen. Exactly what I'm talking.."")","Night sky admirer ("" ... Stars are our ancestors.."")",Name ( need not be your real name !),Email (If you wish to make an impact :) )
0,2019/07/19 5:36:54 PM MDT,10,10,10,10,10,10,10,10,10,10,Sai,NaN
1,2019/07/19 5:38:52 PM MDT,10,1,10,1,10,10,1,6,10,10,Rahul Thakur,thkr.rahul22031997@gmail.com
2,2019/07/19 5:42:58 PM MDT,8,8,5,8,8,10,5,8,5,8,Sri,NaN
3,2019/07/19 5:45:56 PM MDT,3,10,6,6,3,10,9,10,8,3,Akshata Deo,akshata.deo@sjsu.edu
4,2019/07/19 5:47:59 PM MDT,9,10,8,10,10,10,3,10,2,10,Anna,NaN

In [360]:
df.columns

Index(['Timestamp',
       'Food is life ! (".... Did you just say French fries ...? ")',
       'Introvert Kinda (".... ehh but I would rather be at home..")',
       'Enjoy watching sports (".... 9.58 sec !!? I bet you can't ..")',
       'Music (" ... Zayn's high note are higher than my school grades ..")',
       'Road trips (" ... Damnn ...  Roads are pathways to heaven ...")',
       'Caffeine addict (" ... <Opens Maps > Star with the bucks near me  <search> ..")',
       'Bookworm (" ... 1500 pages, one day ?? Consider it done ..")',
       'Nature lover (" ... Tress, breeze and the smell of rain in air.. mmm ..")',
       'Tech geek (" ... Hexacore i50 processor 150th gen. Exactly what I'm talking..")',
       'Night sky admirer (" ... Stars are our ancestors..")',
       'Name ( need not be your real name !) ',
       'Email (If you wish to make an impact :) )'],
      dtype='object')

In [361]:
df=df.drop(['Timestamp','Email (If you wish to make an impact :) )'],axis=1)

In [362]:
df

,"Food is life ! ("".... Did you just say French fries ...? "")","Introvert Kinda ("".... ehh but I would rather be at home.."")","Enjoy watching sports ("".... 9.58 sec !!? I bet you can't .."")","Music ("" ... Zayn's high note are higher than my school grades .."")","Road trips ("" ... Damnn ... Roads are pathways to heaven ..."")","Caffeine addict ("" ... <Opens Maps > Star with the bucks near me <search> .."")","Bookworm ("" ... 1500 pages, one day ?? Consider it done .."")","Nature lover ("" ... Tress, breeze and the smell of rain in air.. mmm .."")","Tech geek ("" ... Hexacore i50 processor 150th gen. Exactly what I'm talking.."")","Night sky admirer ("" ... Stars are our ancestors.."")",Name ( need not be your real name !)
0,10,10,10,10,10,10,10,10,10,10,Sai
1,10,1,10,1,10,10,1,6,10,10,Rahul Thakur
2,8,8,5,8,8,10,5,8,5,8,Sri
3,3,10,6,6,3,10,9,10,8,3,Akshata Deo
4,9,10,8,10,10,10,3,10,2,10,Anna
5,8,9,10,8,10,9,3,10,8,9,Kristoff
6,8,10,7,7,8,10,5,10,10,9,Flash
7,5,1,1,1,9,1,5,7,10,5,SoulHunter
8,10,8,1,8,8,1,6,8,7,7,Manny
9,10,10,5,5,4,1,1,5,5,4,Krishna Das
10,10,3,5,6,10,1,4,10,4,9,Karti
11,9,8,9,7,7,7,4,9,7,8,Saisarath
12,4,1,4,6,10,8,4,9,7,8,Stef
13,3,7,10,6,1,10,1,10,7,9,Ruha
14,9,10,5,2,8,10,2,7,1,6,PC
15,9,1,1,1,8,1,1,8,2,9,S gorman
16,8,5,10,10,10,8,5,10,7,7,Kit Harington
17,7,6,5,10,10,5,6,6,6,10,Kaboom
18,8,8,10,8,10,9,10,10,10,10,A software developer
19,2,10,1,7,8,2,10,10,1,2,Amelia
20,9,4,10,6,8,2,1,8,4,8,ttyl
21,8,7,8,10,10,5,4,6,2,5,angel
22,9,8,2,9,2,1,7,10,3,9,Kushi
23,7,7,1,10,10,7,4,7,3,10,Cait
24,3,9,1,3,4,6,9,10,7,10,Jace
25,7,4,2,9,10,1,2,10,2,9,Aksh
26,10,10,4,9,7,1,1,7,4,10,Jennifer
27,8,10,1,1,10,6,5,8,8,6,Test
28,1,6,5,6,6,6,6,6,6,6,Alexa
29,1,1,4,10,10,10,1,1,10,5,Rahul
...,...,...,...,...,...,...,...,...,...,...,...
46,7,9,10,8,7,6,4,7,6,9,kpt
47,10,7,10,10,8,10,6,10,9,8,B.jayavardhan
48,10,10,5,9,10,5,3,10,1,10,Thomas
49,9,4,10,10,10,1,3,8,6,7,Boss Sanjay
50,10,10,10,6,10,4,6,10,6,10,Black canary
51,8,7,10,10,10,6,4,10,8,10,Nani
52,5,5,10,7,8,2,9,10,6,8,Adarsh
53,9,3,9,10,10,1,1,9,2,9,Bhavana
54,9,9,10,10,6,5,4,10,5,10,Ninad Shukla
55,4,6,5,8,9,3,1,8,4,8,Akhil Akki
56,9,8,10,8,10,8,4,9,9,10,Suyash Srivastava
57,8,1,5,8,10,5,1,4,1,6,Andrea Altamirano
58,10,3,2,10,8,3,10,8,6,9,Shreya
59,10,1,9,9,10,6,8,10,10,10,Vignesh
60,9,6,6,8,9,3,5,10,8,8,Natalie
61,9,8,9,8,9,1,3,7,1,8,T
62,7,7,10,4,6,4,4,5,10,4,prkarve
63,10,1,3,8,7,8,6,10,2,9,Sasha
64,10,7,6,8,8,5,3,7,5,9,Ashley
65,7,8,5,9,7,2,6,9,2,7,Madhu
66,6,8,8,10,8,2,9,9,8,7,Ashley
67,4,7,3,6,8,2,1,8,3,2,Sam
68,8,2,6,7,5,10,5,1,1,3,Ofelia
69,10,1,10,1,10,10,1,6,10,10,Rahul Thakur
70,7,5,3,6,5,2,6,6,1,6,Angelica
71,8,10,6,8,10,7,5,10,7,7,Sindhu
72,10,6,8,6,10,1,3,10,4,4,Nithya
73,9,4,8,9,10,10,7,8,6,8,Arpit Sharma
74,4,4,4,9,8,1,5,9,7,8,Hansa
75,5,9,1,5,7,2,1,5,5,7,RB

In [363]:
df=df.rename(columns={df.columns[0]: "Q1",df.columns[1]: "Q2",df.columns[2]: "Q3",df.columns[3]: "Q4",df.columns[4]: "Q5",df.columns[5]: "Q6",df.columns[6]: "Q7",df.columns[7]: "Q8",df.columns[8]: "Q9",df.columns[9]: "Q10",df.columns[10]: "UserID"})

In [364]:
df.head()

   Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10        UserID
0  10  10  10  10  10  10  10  10  10   10           Sai
1  10   1  10   1  10  10   1   6  10   10  Rahul Thakur
2   8   8   5   8   8  10   5   8   5    8           Sri
3   3  10   6   6   3  10   9  10   8    3   Akshata Deo
4   9  10   8  10  10  10   3  10   2   10          Anna

In [365]:
df.nunique()

Q1        10
Q2        10
Q3        10
Q4        10
Q5        10
Q6        10
Q7        10
Q8         9
Q9        10
Q10        9
UserID    75
dtype: int64

In [366]:
df.isnull().sum()

Q1        0
Q2        0
Q3        0
Q4        0
Q5        0
Q6        0
Q7        0
Q8        0
Q9        0
Q10       0
UserID    0
dtype: int64

In [371]:
df1=df

In [383]:
df1=df1.drop(['UserID'],axis=1)

In [385]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(df1,df1)

In [388]:
indices = pd.Series(df.index, index=df['UserID'])

In [389]:
# Function that takes in company name as input and outputs most similar companies
def get_recommendations(UserID, cosine_sim=cosine_sim):
    # Get the index of the company that matches the title
    idx = indices[UserID]

    # Get the pairwsie similarity scores of all company with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the company based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    #sim_scores = sort(sim_scores, reverse=True)


    # Get the scores of the 10 most similar ones
    sim_scores = sim_scores[1:2]

    # Get the indices
    company_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return df['UserID'].iloc[company_indices]

In [422]:
result=get_recommendations("Sri", cosine_sim)
r=result.values
s=r[0]
rows=df.loc[df['UserID'] == s]

In [423]:
rows=df.loc[df['UserID'] == s]

In [424]:
rows

    Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10               UserID
32  10   7   6   9   9  10   3   9   8    9  Kiran Venkatachalam

In [425]:
row = next(rows.iterrows())[1]

In [426]:
row=row.drop('UserID')

In [427]:
row.astype(int)

Q1     10
Q2      7
Q3      6
Q4      9
Q5      9
Q6     10
Q7      3
Q8      9
Q9      8
Q10     9
Name: 32, dtype: int64

In [428]:
row= row[row > 5]

In [429]:
d ={'Q1':'Who has inclination towards food', 'Q2':'Who wish to stay with limited yet close friends', 'Q3':'Who follows sports closly', 'Q4':'Who is a Music lover',
   'Q5':'Who likes to drive/participate in long road trips', 
   'Q6':'Who loves the smell and taste of coffee', 'Q7':'Who spends lot of time on reading books',
   'Q8':'Who wishes to devote time in interacting with nature ', 
   'Q9':'Who follows the tech market and likes to make discussions on it','Q10':'Who loves to star gaze'}

In [430]:
ser = pd.Series(d)

In [431]:
ser

Q1                                    Who has inclination towards food
Q2                     Who wish to stay with limited yet close friends
Q3                                           Who follows sports closly
Q4                                                Who is a Music lover
Q5                   Who likes to drive/participate in long road trips
Q6                             Who loves the smell and taste of coffee
Q7                             Who spends lot of time on reading books
Q8               Who wishes to devote time in interacting with nature
Q9     Who follows the tech market and likes to make discussions on it
Q10                                             Who loves to star gaze
dtype: object

In [432]:
ser=ser.to_frame().reset_index()
row=row.to_frame().reset_index()

In [433]:
row=row.rename(columns={row.columns[1]: "ID" })
ser=ser.rename(columns={ser.columns[1]: "ID" })

In [434]:
merged = pd.merge(ser, row, on=['index'], how='inner')

In [435]:
merged

  index                                                             ID_x ID_y
0    Q1                                 Who has inclination towards food   10
1    Q2                  Who wish to stay with limited yet close friends    7
2    Q3                                        Who follows sports closly    6
3    Q4                                             Who is a Music lover    9
4    Q5                Who likes to drive/participate in long road trips    9
5    Q6                          Who loves the smell and taste of coffee   10
6    Q8            Who wishes to devote time in interacting with nature     9
7    Q9  Who follows the tech market and likes to make discussions on it    8
8   Q10                                           Who loves to star gaze    9

In [436]:
 pd.options.display.max_colwidth = 100

In [437]:
print("The type of person you should look for is one .....\n\n")
print(merged['ID_x'])

The type of person you should look for is one .....


0                                   Who has inclination towards food
1                    Who wish to stay with limited yet close friends
2                                          Who follows sports closly
3                                               Who is a Music lover
4                  Who likes to drive/participate in long road trips
5                            Who loves the smell and taste of coffee
6              Who wishes to devote time in interacting with nature
7    Who follows the tech market and likes to make discussions on it
8                                             Who loves to star gaze
Name: ID_x, dtype: object